@page
@model LoginModel

<h2 class="header">Log in</h2>
<div class="row">
    <div class="col s12">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input asp-for="Input.Email" class="validate" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email"></label>
                    <span asp-validation-for="Input.Email" class="helper-text"></span>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">vpn_key</i>
                    <input asp-for="Input.Password" class="validate" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="helper-text"></span>
                </div>
                <p class="row">
                    <label asp-for="Input.RememberMe" class="col s6">
                        <input asp-for="Input.RememberMe" type="checkbox"/>
                        <span>@Html.DisplayNameFor(m => m.Input.RememberMe)</span>  
                    </label>
                </p>
                <div class="">
                    <button id="login-submit" type="submit" class="btn waves-effect waves-light">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
