@using Microsoft.AspNetCore.Identity
@using BlazorWasmTemplate.Server.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul id="nav-mobile" class="right hide-on-med-and-down">
@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a id="manage" class="" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li>
        <form id="logoutForm" class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button id="logout" type="submit" class="">Logout</button>
        </form>
    </li>
}
else
{
    <li>
        <a class="" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li>
        <a class="" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
