@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1 class="header">Manage your account</h1>

<div>
    <div class="row">
        <div class="col m3">
            <partial name="_ManageNav" />
        </div>
        <div class="col m1">

        </div>
        <div class="col m8">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
