@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div class="d-flex flex-row align-content-center justify-content-center">
  <AuthorizeView>
      <Authorized>
          <MudNavLink Class="auth-link-btn profile-link" IconColor="Color.Inherit" Href="authentication/profile">Hello, @context.User.Identity?.Name!</MudNavLink>
          <MudNavLink Class="auth-link-btn sign-out-link" IconColor="Color.Inherit" Icon="@Icons.Material.Filled.Logout" @onclick="BeginSignOut">Log out</MudNavLink>
      </Authorized>
      <NotAuthorized>
          <MudNavLink Class="auth-link-btn" Href="authentication/register" IconColor="Color.Inherit" Icon="@Icons.Material.Filled.AppRegistration">Register</MudNavLink>
          <MudNavLink Class="auth-link-btn" Href="authentication/login" IconColor="Color.Inherit" Icon="@Icons.Material.Filled.Login">Log in</MudNavLink>
      </NotAuthorized>
  </AuthorizeView>
</div>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
