
::deep a:link {
}

::deep a:hover {
  color: #FFF;
}

::deep .auth-link-btn {
  min-width: fit-content;
  padding: 0 10px 0 10px;
}

::deep .profile-link {

}

::deep .sign-out-link {

}

::deep button:hover {
}