/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */
@import url('../lib/materialize/css/materialize.min.css');

.header {
  color: #ee6e73;
  font-weight: 300;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.manage-profile-nav>li {
  padding: 15px 0 15px 0;
}

.manage-profile-nav>li>a:link {
  color: #ee6e73;
}

.manage-profile-nav>li>a:hover {
  color: #ee6e73;
}

.manage-profile-nav>li>a:visited {
  color: #ee6e73;
}

.manage-profile-nav>li:not(:first-child) {
  border-top: solid 1px #ddd; 
}